:root {
  --max-width-mobile: 100vw;
  --max-width-desktop: 700px;

  --primary-color-main: #f0ad3b;
  --primary-color-light: #f5b74d;
  --primary-color-dark: #c0831a;
  --secondary-color-main: #fdc130;
  --secondary-color-light: #fdcb55;
  
  --background-color-primary: #f5f5f5;
  --background-color-secondary: #ffffff;
  --background-color-terciary: #fbfbfb;
  --background-color-device: #5a5959;
  
  --text-color-primary: #141414;
  --text-color-secondary: #474747;
  --text-color-disabled: #c3c3c3;
  --text-color-inverted: #fff;
  --text-color-unique-light: #f5f5f5;
  --text-color-unique-dark: #202020;

  --gradient-primary: linear-gradient(45deg, var(--primary-color-main) 30%, var(--primary-color-light) 150%);
  --gradient-device: linear-gradient(to right, #1e1e1e, rgb(80, 80, 80));

  --border-radius: 1.5rem;
  --border-radius-light: .5rem;

  --shadow-light: rgba(0, 0, 0, 0.2) 0px 1px 2px;
  --shadow-medium: rgba(0, 0, 0, 0.2) 0px 2px 4px;
  --shadow-raised: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  --shadow-complex: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color-primary: #202020;
    --background-color-secondary: #161616;
    --background-color-terciary: #252525;

    --text-color-primary: #fff;
    --text-color-secondary: #b9b9b9;
    --text-color-inverted: #141414;

    --shadow-light: rgba(0, 0, 0, 0.2) 0px 1px 2px;
    --shadow-medium: rgba(0, 0, 0, 0.2) 0px 2px 4px;
    --shadow-raised: 0 3px 1px -2px rgba(0, 0, 0, 0.6), 0 2px 2px 0 rgba(0, 0, 0, 0.50), 0 1px 5px 0 rgba(0, 0, 0, 0.45);
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  width: var(--max-width-mobile);
  overflow: hidden;
}

body {
  background: var(--background-color-primary);
  color: var(--text-color-primary);
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

a {
  color: inherit;
  text-decoration: none;
}

#queueMainContainer {
  min-height: 100vh;
  flex-grow: 1;
  padding: 1rem;
  transition: margin 0.2s ease-out;
}

.topBarContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.5rem;
  z-index: 10;
}

.buttonsContainer {
  display: flex;
  gap: 2rem;
}

.smallScreenMainLogoContainer {
  display: none;
}

.mainLogo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 8rem;
}

.MuiIconButton-root:is(.addDeviceButton) {
  width: 4.5rem;
  height: 4.5rem;
  background: var(--primary-color-main);
  color: var(--text-color-unique-dark);
  box-shadow: var(--shadow-raised);
}

.MuiIconButton-root:is(.addDeviceButton):hover {
  background: var(--primary-color-dark);
}

.MuiIconButton-root:is(.roundedSecondaryIconButton) {
  width: 4rem;
  height: 4rem;
  color: var(--text-color-secondary);
  box-shadow: var(--shadow-raised);
}

.MuiIconButton-root:is(.defaultCursor) {
  cursor: default;
}

.MuiTypography-root:is(.partySizeTag) {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  text-align: center;
  background: #2A442A;
  color: var(--text-color-unique-light);
  overflow: hidden;
}

.MuiIconButton-root:is(.addDeviceButton) svg, .MuiIconButton-root:is(.roundedSecondaryIconButton) svg, .MuiTypography-root:is(.partySizeTag) {
  font-size: 2rem;
}

.queueContainer {
  height: 85vh;
  overflow-y: auto;
  overflow-x: hidden;
  -ms-overflow-style: none;  
  scrollbar-width: none;
}

.queueContainer::-webkit-scrollbar {
  display: none;
}

.queueList {
  display: flex;
  gap: .85rem;
  padding: .5rem .1rem 7rem .1rem;
}

.queueList:is(.large) {
  flex-direction: column;
}

.queueList:is(.medium) {
  flex-wrap: wrap;
  justify-content: space-between;
}

.queueList:is(.small) {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(8rem, 1fr));
  gap: 1.5rem;
}

.queueOrdinationContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: .5rem;
}

.MuiTypography-root:is(.queueOrdinationOption) {
  display: flex;
  align-items: center;
  line-height: normal;
  color: var(--text-color-secondary);
}

.inverted {
  transform: rotate(180deg);
}

.MuiSvgIcon-root:is(.queueOrdinationOptionIcon) {
  font-size: 1rem;
}

.queueHiddenTrashContainer {
  position: relative;
  background: #6B0000;
  border-radius: calc(var(--border-radius) + 2px);
  transition: .5s;
}

.queueHiddenTrashContainer .MuiSvgIcon-root:is(.queueHiddenTrash) {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.5rem;
  transition: font-size .3s;
}

.queueHiddenTrashContainer:is(.large) {
  width: 100%;
}

.queueHiddenTrashContainer:is(.medium) {
  width: 48%;
}

.queueHiddenTrashContainer:is(.small) {
  aspect-ratio: 1/1;
  transition: none;
}

.allCardsTypesContainer {
  position: relative;
  box-shadow: var(--shadow-medium);
  border-radius: var(--border-radius);
  touch-action: pan-y;
}

.queueCard {
  height: 7rem;
  width: 100%;
  display: flex;
  align-items: center;
  gap: .5rem;
  background: var(--background-color-terciary);
  border-radius: var(--border-radius);
}

.queueHiddenTrashContainer:is(.small) .queueCard {
  height: auto;
}

.queueCardItem {
  max-height: 100%;
  padding: .25rem;
}

.queueCardItem .MuiButtonBase-root {
  width: fit-content;
  padding: 0.15rem;
}

.queueCardItem, .queueOrdinationContainer:is(.large) p {
  display: flex;
  flex: 1;
  text-align: left;
}

.queueCardItem .MuiTypography-root {
  overflow: hidden;
}

.queueHiddenTrashContainer:is(.large) .queueCardItem:first-child,
.queueHiddenTrashContainer:is(.large) .queueCardItem:last-child,
.queueOrdinationContainer:is(.large) p:first-child,
.queueOrdinationContainer:is(.large) p:last-child {
  flex: .75;
  justify-content: center;
}

.queueOrdinationContainer:is(.medium) {
  padding: 0 8% 0 5%;
}

.queueHiddenTrashContainer:is(.medium) .queueCardItem {
  justify-content: center;
}

.queueOrdinationContainer:is(.small) {
  display: none;
}

.arrayToStringLines {
  display: flex;
  flex-direction: column;
}

.deviceIcon {
  background: var(--gradient-device);
  width: 6.25rem;
  height: 6.25rem;
  box-shadow: var(--shadow-complex);
  border: 2px double rgba(0, 0, 0, 0.5);
  border-radius: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: .2s;
}

.deviceIcon:is(.active), .queueCard:is(.active) {
  box-shadow: var(--primary-color-main) 0px 0 2px 2px;
}

.deviceIcon h1 {
  width: 80%;
  height: 80%;
  background: var(--background-color-device);
  color: var(--text-color-unique-light);
  border: 2px solid rgb(245, 245, 245, 0.75);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
  font-weight: 400;
}

.deviceIcon h1 span {
  font-size: .6rem;
}

.deviceIcon h1 span span {
  opacity: 80%;
  margin: 0 0 0 .1rem;
  font-weight: 100;
}

.deviceIcon svg {
  font-size: 2.5rem;
}

.queueHiddenTrashContainer:is(.small) .deviceIcon,
.queueHiddenTrashContainer:is(.small) button,
.queueHiddenTrashContainer:is(.small) .queueCardItem,
.queueHiddenTrashContainer:is(.small) .queueCard,
.queueHiddenTrashContainer:is(.small) .allCardsTypesContainer {
  width: 100%;
  height: 100%;
}

.queueHiddenTrashContainer:is(.small),
.queueHiddenTrashContainer:is(.small) button,
.queueHiddenTrashContainer:is(.small) .queueCardItem,
.queueHiddenTrashContainer:is(.small) .queueCard {
  padding: 0;
  border-radius: 35px;
}

.queueHiddenTrashContainer:is(.small) .deviceIcon h1 {
  width: 75%;
  height: 75%;
  font-size: 3rem;
  font-weight: 300;
}

.queueHiddenTrashContainer:is(.small) .deviceIcon h1 span {
  font-size: .85rem;
}

.topBarDevicesOptionsContainer {
  position: absolute;
  height: 7rem;
  width: auto;
  max-width: calc(100vw - 8rem);
  top: 50%;
  left: 5rem;
  transform: translate(0, -50%);
  z-index: 2;
  border-radius: var(--border-radius);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out;
  pointer-events: none;
  background: var(--background-color-secondary);
  box-shadow: var(--shadow-raised);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1.5rem;
  padding: .5rem 1.5rem;
  overflow-y: hidden;
  overflow-x: scroll ;
  -ms-overflow-style: none;  
  scrollbar-width: none;
}

.topBarDevicesOptionsContainer.active {
  opacity: 1;
  visibility: visible;
  pointer-events: visible;
}

.topBarDevicesOptionsContainer::-webkit-scrollbar {
  display: none;
}

.topBarDevicesOptionsContainer button {
  min-width: fit-content;
  padding: 0.25rem;
}

.topBarAddDeviceButton {
  padding: 0;
  margin: 0;
  min-width: fit-content;
}

.topBarAddDeviceButton .deviceIcon {
  width: 6rem;
  height: 6rem;
}

.rightDrawer .MuiPaper-root {
  width: 350px;
  overflow-x: hidden;
  border-top-left-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
  box-shadow: var(--shadow-raised);
  background: var(--background-color-terciary);
}

.rightDrawer form {
  max-height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 1.5rem;
  overflow-y: scroll;
  -ms-overflow-style: none;  
  scrollbar-width: none;
}

.rightDrawer form::-webkit-scrollbar {
  display: none;
}

.drawerTitle {
  background: var(--background-color-secondary);
  color: var(--text-color);
  width: 100%;
  text-align: center;
  padding: .5rem 2rem;
  border-top-left-radius: inherit;
  box-shadow: var(--shadow-light);
}

#verifyCodeButton {
  padding: 0;
  font-size: .75rem;
}

.formPhoneContainer {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.verified {
  border-color: green !important;
}

.unverified {
  border-color: red !important;
}

#formSubmitButton {
  width: 100%;
  height: 3rem;
}

#sendMessageButton {
  min-height: 5rem;
  margin-bottom: 2rem;
}

.filterContainer {
  position: relative;
}

#filterDropdown {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translateY(105%);
  width: 15rem;
  height: auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  opacity: 0;
  pointer-events: none;
  transition: .3s ease-in-out;
}

.glass {
  background: rgba(255, 255, 255, 0.05);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-raised);
  backdrop-filter: blur(10.9px);
  -webkit-backdrop-filter: blur(10.9px);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.open {
  opacity: 1 !important;
  pointer-events: auto !important;
}

#filterBadge {
  position: absolute;
  bottom: 0;
  left: 0;
}

#filterBadge span {
  background: var(--primary-color-dark);
  color: var(--text-color);
  transform: translate(75%, -75%);
  font-size: 1rem;
  padding: 0;
  border-radius: 50%;
  height: 1.75rem;
  width: 1.75rem;
}



@media screen and (max-width: 767px) {

  main {
    padding-top: 0 !important;
  }

  .mainLogo {
    display: none !important;
  }

  #queueMainContainer {
    padding: 0 1rem;
  }
  
  .smallScreenMainLogoContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100% + 48px); /* workaround: 48px is because of the main tag horizontal padding (24px + 24px)*/
    transform: translateX(-24px); /* workaround: to centralize, because of the previous comment*/
    padding: .25rem;
    margin-bottom: .5rem;
    background: var(--background-color-terciary);
    box-shadow: var(--shadow-light);
  }

  .smallScreenMainLogo {
    height: 1.25rem;
    width: auto;
  }

  .queueHiddenTrashContainer:is(.medium) {
    width: 100%;
  }
  
}